<form
    [formGroup]="registerForm"
    novalidate
    (ngSubmit)="submit()"
>
    <mat-card class="card">
        <mat-card-header class="content-center">
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">
                    <input
                        matInput
                        placeholder="Username"
                        formControlName="userName"
                        required
                        autofocus
                    >
                    <mat-error *ngIf="registerForm.controls['userName'].hasError('required')">Username is required</mat-error>
                </mat-form-field>

            </div>
            <div class="row">
                <mat-form-field class="full-width">
                    <input
                        matInput
                        placeholder="First name"
                        formControlName="firstName"
                        required
                    >
                    <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">First name is required</mat-error>
                </mat-form-field>

            </div>
            <div class="row">
                <mat-form-field class="full-width">
                    <input
                        matInput
                        placeholder="Last name"
                        formControlName="lastName"
                        required
                    >
                    <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">Last name is required</mat-error>
                </mat-form-field>

            </div>
            <div class="row">
                <mat-form-field class="full-width">
                    <input
                        matInput
                        placeholder="Password"
                        formControlName="password"
                        type="password"
                        required
                    >
                    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">Password is required</mat-error>
                </mat-form-field>
            </div>
            <div
                class="row"
                *ngIf="registerError"
            >
                <mat-error>Something went wrong, please try again later.</mat-error>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button
                color="primary"
                type="submit"
            >
                Submit
            </button>
            <a
                class="link"
                routerLink="/"
                routerLinkActive="active"
            >
                Login with existing account
            </a>
        </mat-card-actions>
    </mat-card>
</form>
