NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb://test:test@mongo-e2e:27017/travels-e2e
JWT_SECRET=FBEvfeN6uKKe8v66h4646dWFKdbM4sbj
JWT_EXPIRATION=1d
ADMIN_USERNAME=admin@e2e.com
ADMIN_PASSWORD=qwer1234
MANAGER_USERNAME=manager@e2e.com
MANAGER_PASSWORD=qwer1234
HTTP_ABSOLUTE_PATH=http://travels-e2e:3000