.actions {
  &--container {
    display: flex;
    flex-wrap: wrap;
  }
}

.filters {
  &--container {
    display: flex;
    flex-wrap: wrap;
  }
  &--filter:not(:first-child) {
    margin-left: 15px;
  }
}

.button-spacing {
  margin: 10px;
}

.logout-button {
  margin-left: auto;
}
